---
const { src } = Astro.props;
---
<div
  class="-z-50 absolute inset-0 w-full h-screen bg-no-repeat bg-center bg-[length:130%_100%] sm:bg-[length:115%_100%] lg:bg-cover opacity-50"
  style={`background-image: url('${src}')`}
></div>
