---
import { Image } from 'astro:assets';
import config from "@config/config.json";
import { getRelativeLocaleUrl } from "astro:i18n";

const { src } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
} = config.site;

// Ruta del logo para modo oscuro
const logoDark = '/images/shared/logos/PqOL_logo_white.png';

const { currentLocale } = Astro;
---

<a
  href={getRelativeLocaleUrl(currentLocale ?? '', `/`)}
  class="navbar-brand block"
>
  {src || logo ? (
    <>
      <!-- Logo modo claro -->
      <Image
        src={src ? src : logo}
        alt={title}
        width={Number(logo_width.replace("px", ""))}
        height={Number(logo_height.replace("px", ""))}
        class="block dark:hidden"
        style={{
          height: logo_height,
          width: logo_width,
        }}
      />

      <!-- Logo modo oscuro -->
      <Image
        src={logoDark}
        alt={title}
        width={Number(logo_width.replace("px", ""))}
        height={Number(logo_height.replace("px", ""))}
        class="hidden dark:block"
        style={{
          height: logo_height,
          width: logo_width,
        }}
      />
    </>
  ) : logo_text ? (
    logo_text
  ) : (
    title
  )}
</a>
