---
import { humanize, slugify } from "@lib/utils/textConverter";
import { getRelativeLocaleUrl } from "astro:i18n";
import config from "@config/config.json";

const { categories, basePath = config.settings.blog_folder } = Astro.props;
const params = Astro.params;
const { currentLocale } = Astro;
---

<div class="category-filter mb-10 mt-3 rounded-xl bg-[#EEEEEE] p-4">
  <ul class="filter-list flex flex-wrap items-center">
    <li>
      <a
        class={`filter-btn ${
          !params.category ? "filter-btn-active" : undefined
        } btn btn-sm`}
        href={getRelativeLocaleUrl(currentLocale ?? '', `/${basePath}`)}>All Categories</a
      >
    </li>
    {
      categories.map((category: any) => (
        <li>
          <a
            class={`filter-btn ${
              params.category === slugify(category)
                ? "filter-btn-active"
                : undefined
            } btn btn-sm`}
            href={getRelativeLocaleUrl(
              currentLocale ?? '',
              `/${basePath}/${slugify(category)}`,
            )}
          >
            {humanize(category)}
          </a>
        </li>
      ))
    }
  </ul>
</div>
