---
import { getRelativeLocaleUrl } from "astro:i18n";

const { currentLocale } = Astro;
const { data } = Astro.props || {};
const { title, index_title, page_title, index_path } = data || {};
---

<div class="relative mx-auto my-4 w-full max-w-3xl overflow-hidden rounded-full bg-theme-light/70 px-6 py-3 text-center shadow-sm">
  <span class="absolute w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-secondary to-green-400 -top-8 lg:left-6 rounded-full skew-y-12 blur-3xl opacity-30 skew-x-12 rotate-90"></span>
  <span class="absolute w-2/12 lg:w-1/12 aspect-square bg-gradient-to-tr from-secondary to-green-400 top-5 lg:top-[120px] right-6 rounded-full skew-y-12 blur-2xl opacity-30 skew-x-12 rotate-90"></span>
  <ul
    class="breadcrumb relative inline-flex items-center justify-center space-x-2 text-sm text-dark"
  >
    <li class="leading-none">
      <a
        href={getRelativeLocaleUrl(currentLocale ?? "", `/`)}
        class="inline-flex items-end text-primary"
      >
        <svg
          class="mr-1.5 leading-none"
          width="18"
          height="18"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.1769 15.0588H10.3533V9.41178H5.64744V15.0588H2.82391V6.58825H1.88274V16H14.118V6.58825H13.1769V15.0588ZM6.58862 15.0588V10.353H9.41215V15.0588H6.58862ZM15.8084 6.09225L15.2512 6.85178L8.00038 1.52472L0.749559 6.8499L0.192383 6.09131L8.00038 0.357666L15.8084 6.09225Z"
            fill="currentColor"
          />
        </svg>
        <span class="leading-none">Home</span>
      </a>
    </li>
    <li class="leading-none">
      {
        index_title ? (
          <span class="leading-none">
            /{" "}
            <a
              href={getRelativeLocaleUrl(currentLocale ?? "", `/${index_path}`)}
              class="text-primary"
            >
              {index_title}
            </a>{" "}
            / {page_title ?? title}
          </span>
        ) : (
          <span class="leading-none">/ {title}</span>
        )
      }
    </li>
  </ul>
</div>
